.searchBar {
  position: relative;
}

.searchBar__input {
  width: 23.3333rem;
  height: 3rem;
  border: 1px solid #ccc;
  padding: 0;
  margin: 0;
  text-indent: 0.6667rem;
  box-sizing: border-box;
}

.searchBar__button {
  background: url(https://img.icons8.com/ios-glyphs/15/000000/search.png) no-repeat 50% 50% transparent;
  position: absolute;
  width: 3rem;
  height: 3rem;
  padding: 0;
  margin: 0 0 0 -3.1667rem;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}
  